.box {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
}



.box span {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 5px;
}

.box span {
	color :#000;
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}

.box:hover span {
	color :#fff;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box svg {
	position: absolute;
	top: 0;
	left: 0;
}

.box svg line {
	stroke-width: 3;
	stroke: #ecf0f1;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
	stroke-dasharray: 490 400;
}

.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}

/* Alternatives */

/* Frame */
.frame .box {
	/*background: rgba(0,0,0,0);*/
	color: #fff;
	box-shadow: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.frame .box:hover {
	/*background: rgba(0,0,0,0.4);*/
}

.frame .box span {
	-webkit-transition: none;
	transition: none;
}

.frame .box svg line {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.frame .box:hover svg line {
	stroke-width: 10;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.frame .box:hover svg line.top {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
}

.frame .box:hover svg line.bottom {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

.frame .box:hover svg line.left {
	-webkit-transform: translateY(460px);
	transform: translateY(460px);
}

.frame .box:hover svg line.right {
	-webkit-transform: translateY(-460px);
	transform: translateY(-460px);
}

/* Spin */
.spin .box {
	box-shadow: none;
	/*background: rgba(0,0,0,0.4);*/
	-webkit-transition: none;
	transition: none;
	color: #fff;
}

.spin .box h3,
.spin .box span {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.spin .box:hover h3,
.spin .box:hover span {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.spin .box svg line {
	stroke-width: 30;
	-webkit-transition: all .4s;
	transition: all .4s;
}

.spin .box:hover svg line {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.spin .box:hover svg line {
	stroke-width: 0;
}

.spin .box svg line.top,
.spin .box svg line.bottom {
	stroke-dasharray: 300; 
}

.spin .box svg line.left,
.spin .box svg line.right {
	stroke-dasharray: 460;
}

.spin .box:hover svg line.top {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
}

.spin .box:hover svg line.bottom {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

.spin .box:hover svg line.left {
	-webkit-transform: translateY(460px);
	transform: translateY(460px);
}

.spin .box:hover svg line.right {
	-webkit-transform: translateY(-460px);
	transform: translateY(-460px);
}